html,
body,
section,
.content-inner,
.content {
  height: 100%;
}
.disabled {
  pointer-events: none;
  cursor: default;
}
.header.fixed,
.header.open,
.menu-open .header {
  background-color: #116EB8;
}
.header .nav > li > a .header-close:after {
  background-color: #1794f8;
}
.content-heading {
  /*display: table;*/
  height: 40%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 90px 0 70px 0;
  text-align: center;
}
.avatar {
  color: #fff !important;
  background-color: #1794f8;
}
.beatMarker {
  color: #1794f8 !important;
  background-color: #fff;
}
@media only screen and (min-width: 480px) {
  .menu {
    left: -400px;
    width: 400px;
  }
}
/*
   MAP
   ========================================================================== */
#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 0px;
  text-overflow: ellipsis;
  width: 300px;
}
#map {
  height: 100%;
  width: 120%;
  margin-top: 48px;
}
.infoWindowContent {
  font-size: 14px !important;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}
h2 {
  margin-bottom: 0;
  margin-top: 0;
}
.container.mapContainer {
  margin-left: 0px;
  padding-left: 0px;
}
.group {
  position: relative;
  margin-bottom: 45px;
}
input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #757575;
  margin-top: 20px;
}
input:focus {
  outline: none;
}
/* LABEL ======================================= */
label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 8px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
/* active state */
input:focus ~ label,
input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #5264AE;
}
/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 300px;
  bottom: -1px;
}
.bar:before,
.bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264AE;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}
/* active state */
input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%;
}
/* HIGHLIGHTER ================================== */
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}
/* active state */
input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}
/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}
