<nav class="menu" id="profile">
	<div class="menu-scroll">
		<div class="menu-wrap">
			<div class="">
				<!-- <div class="menu-top-img">
					<img alt="John Smith" src="images/backgrounds/houston_phone.jpg">
				</div> -->
				<div class="menu-top-info">
					<div class="menu-top-user">
						<span class="avatar pull-left">
							<span class="fa fa-map-marker fa-2x beatMarker"></span>
						</span>BEAT NAME
					</div>
				</div>
			</div>
			<div class="menu-content">
				<ul class="nav">
					<li>
						<a href="javascript:void(0)" class="disabled"><span class="fa fa-map-marker"></span>BEAT NAME</a>
					</li>
				</ul>
				<div class="col-xs-12">
					<div class="panel panel-default ">
                        <div class="panel-heading">
                            <h2>Beat: <span class="beat-name"></span></h2>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-hover display-table">
                                    <thead class="prediction-heading">
                                        <th>Crime</th>
                                        <th class="day-0">Sat</th>
                                        <th class="day-1">Sun</th>
                                        <th class="day-2">Mon</th>
                                        <th class="day-3">Tue</th>
                                        <th class="day-4">Wed</th>
                                        <th class="day-5">Thu</th>
                                        <th class="day-6">Fri</th>
                                    </thead>
                                    <tr class="murder-cases">
                                        <th>Murder</th>
                                        <td class="day-0"></td>
                                        <td class="day-1"></td>
                                        <td class="day-2"></td>
                                        <td class="day-3"></td>
                                        <td class="day-4"></td>
                                        <td class="day-5"></td>
                                        <td class="day-6"></td>
                                    </tr>
                                    <tr class="assault-cases">
                                        <th>Assault</th>
                                        <td class="day-0"></td>
                                        <td class="day-1"></td>
                                        <td class="day-2"></td>
                                        <td class="day-3"></td>
                                        <td class="day-4"></td>
                                        <td class="day-5"></td>
                                        <td class="day-6"></td>
                                    </tr>
                                    <tr class="rape-cases">
                                        <th>Rape</th>
                                        <td class="day-0"></td>
                                        <td class="day-1"></td>
                                        <td class="day-2"></td>
                                        <td class="day-3"></td>
                                        <td class="day-4"></td>
                                        <td class="day-5"></td>
                                        <td class="day-6"></td>
                                    </tr>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
				</div>
			</div>
		</div>
	</div>
</nav>