<nav class="menu" id="profile">
	<div class="menu-scroll">
		<div class="menu-wrap">
			<div class="">
				<!-- <div class="menu-top-img">
					<img alt="John Smith" src="images/backgrounds/houston_phone.jpg">
				</div> -->
				<div class="menu-top-info">
					<div class="menu-top-user">
						<span class="avatar pull-left">
							<span class="fa fa-map-marker fa-2x beatMarker"></span>
						</span>BEAT NAME
					</div>
				</div>
			</div>
			<div class="menu-content">
				<ul class="nav">
					<li>
						<a href="javascript:void(0)" class="disabled"><span class="fa fa-map-marker"></span>BEAT NAME</a>
					</li>
				</ul>
				<div class="col-xs-12">
					TABLE HERE
				</div>
			</div>
		</div>
	</div>
</nav>