<nav class="menu" id="profile">
	<div class="menu-scroll">
		<div class="menu-wrap">
			<div class="">
				<!-- <div class="menu-top-img">
					<img alt="John Smith" src="images/backgrounds/houston_phone.jpg">
				</div> -->
				<div class="menu-top-info">
					<div class="menu-top-user">
						<span class="avatar pull-left">
							<span class="fa fa-map-marker fa-2x beatMarker"></span>
						</span>{{beatName}}
					</div>
				</div>
			</div>
			<div class="menu-content">
				<div class="col-xs-12">
					<div class="panel panel-default ">
                        <div class="panel-heading">
                            <h2>Beat: <span class="beat-name"></span></h2>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-hover display-table">
                                    <thead class="prediction-heading">
                                        <th>Crime</th>
                                        <th ng-repeat="day in week">{{day}}</th>
                                    </thead>
                                    <tr class="murder-cases">
                                        <th>Murder</th>
                                        <td ng-repeat="count in murders">{{count}}</td>
                                    </tr>
                                    <tr class="assault-cases">
                                        <th>Assault</th>
                                        <td ng-repeat="count in assaults">{{count}}</td>
                                    </tr>
                                    <tr class="rape-cases">
                                        <th>Rape</th>
                                        <td ng-repeat="count in rapes">{{count}}</td>
                                    </tr>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
				</div>
			</div>
		</div>
	</div>
</nav>